/* Globales */
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.site-header.inicio{
  background: url(../img/header.jpg);
  height: 100vh;
  min-height: 600px;
  background-position: center center;
  background-size: cover;
}
.barra{
  display:flex;
  justify-content: space-between;
  padding-top: 30px;
}

/** Navegacion **/
.navegacion a{
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
.navegacion a:hover{
  color: #71b100;
}
.navegacion a:last-of-type{
  margin-right: 0;
}
